body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
footer {
    padding: 20px;
    font-size: 15px;
}
.lastName {
    color: #c2c2c2;
    text-shadow: 0px 0px 0px #4a4b4c;
}
.projectImg {
    margin: 0 auto;
}
.container-fluid {
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 70px;
}
.btn {
    background-color:#909090;
    color: #fff;
    font-size: 15px;
    margin: 5px !important;
    border-style: dashed !important;
}
.glyphicon {
    padding-right: 5px;
}
.bg-1 {
    background-color: #c1d7d7;
    color: #ffffff;
    padding-top: 100px;
}
.bg-2 {
    background-color: #828485;
    color: #ffffff;
    padding-top: 0px;
}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}
.navbar {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    box-shadow: 0px 0px 25px #d1d1d1;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}