body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
footer {
    padding: 20px;
    font-size: 15px;
}
.linkItem {
    color: #828485;
    font-size: 25px;
}
.lastName {
    color: #c2c2c2;
    text-shadow: 0px 0px 0px #4a4b4c;
}
.center-block{
    float: none !important;
}
.sectionTittle {
    margin: 50px;
}
.projectImg {
    margin: 0 auto;
    border-style: solid;
    border-width: 0px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-transition: filter .2s linear;
    -moz-transition: filter .2s linear;
    -o-transition: filter .2s linear;
    transition: filter .2s linear, border-width .2s linear;
}
/* Disable grayscale on hover */
.projectImg:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}
.container-fluid {
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 70px;
}
.btn {
    background-color:#909090;
    color: #fff;
    font-size: 15px;
    margin: 5px !important;
    border-style: dashed !important;
}
.glyphicon {
    padding-right: 5px;
}
.bg-1 {
    background-color: #c1d7d7;
    color: #ffffff;
}
.bg-2 {
    background-color: #828485;
    color: #ffffff;
}
.bg-3 {
    background-color: #c1d7d7;
    color: #ffffff;;
}
.bg-4 {
    background-color: #ffffff;
    color: #555555;
}
.bg-5 {
    background-color: #2f2f2f;
    color: #ffffff;
}
.navbar {
    background-color: white;
    padding: 2px 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    box-shadow: 0 0 25px #d1d1d1;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    transition: color .3s linear;
}
.navbar-nav li a:hover {
    color: #b2cbdb !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fef9ff !important;
    text-shadow: 0 0 15px #fafdff;
    background-color: rgb(193, 215, 215) !important;
    background-image: none !important;
}